/* Цвет основного текста #757575*/
/* Вторичный цвет текста  #212121*/
/* Белый 
#FFFFFF */
/* Серый #AFB1B8 */
/* Акцент 
#2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-gray-color: #afb1b8;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.logo {
  color: #000000;
}
.web {
  color: #2196f3;
}
.logo:hover {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .contact {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .contact:hover,
.site-nav .contact:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
